In [2]:
import pandas as pd
import numpy as np
import altair as alt
from ipywidgets import interact
from os.path import join

from constants import COLUMNS
from utils import read_full_diagnoses_df

In [6]:
df = read_full_diagnoses_df(['FWN','FXL','FZT','FMT','FFG','FOW','FSZ','FMA','FEQ','FVX','FKQ','FBL','FDQ','FKN','FBD','FKL','FUU','FZU','FZM','FUN'])

# Columns
siteid = COLUMNS.SITE_ID = "siteid"
date = COLUMNS.DATE = "date"
new_positive_cases = COLUMNS.NEW_POSITIVE_CASES = "new_positive_cases"
patients_in_icu = COLUMNS.PATIENTS_IN_ICU = "patients_in_icu"
new_deaths = COLUMNS.NEW_DEATHS = "new_deaths"

df

    siteid icd_code  icd_version  num_patients
0      FWN       72            9            -1
1      FWN       56            9            -1
2      FWN       51            9            -1
3      FWN      115            9            -1
4      FWN       37            9            -1
..     ...      ...          ...           ...
172    FUN    J20.8            9            -1
173    FUN      J40            9            -1
174    FUN    J98.8            9            -1
175    FUN      J80            9            -1
176    FUN  Z20.828            9            -1

[177 rows x 4 columns]